<div class="display-4 mb-4">
    <%= @article.title %>
</div>

<div class = "mb-2">
    <p class = "text-justified"><%= @article.body %></p>
</div>

<% if @article.tags.any? %>
    <div class = "mb-2">
        <strong>tags: </strong>
        <p class = "text-justified"><%= @article.tags.map(&:name).join(', ') %></p>
    </div>
<% end %>

<% if admin_signed_in? %>
        <div class="row">
            <div class="col col-md-2">
                <%= link_to "Delete Article", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                }, class: "btn btn-danger mb-2"%>
            </div>
            <div class="col col-md-2">
                <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-warning mb-2" %>
            </div>
        </div>
<% end %>
<div class="mb-4">
    <%= render @article.comments %>
</div>

<%= render 'comments/form' %>

<!-- 
<ul>
    <li><%= link_to "Edit this article", edit_article_path(@article) %></li>
    <li><%= link_to "Delete this article", article_path(@article), data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>
-->